- if @user.errors.any?
  #error_details
    .alert.alert-danger
      #{pluralize(@user.errors.count, "error")}
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          * #{msg}
